.logotype_container {
    width: 15em;
}

.logotype_container p {
    float: right;
    width: 65%;
}

.logotype_container img {
    display: block;
    width: 30%;
    float: left;
}


/*  */

.foot_b {
    width: 38%;
    margin: 0 auto;
}

.foot_b p {
    float: right;
    color: #fff;
    margin-top: 0.5em;
}

.foot_b img {
    display: block;
    width: 16%;
    float: left;
}


/*  */

.container_stage {
    width: 100%;
    text-align: left;
    font-size: 1.6em;
    display: flex;
    margin-bottom: 3em;
    font-weight: bolder;
}

.stage {
    width: 33.3%;
}

.container_info {
    width: 80%;
    margin: 0 auto;
    font-size: 1.3em;
    margin-top: 3em;
}

.container_info h3 {
    margin: 0.5em 0em 0.5em 0;
}

@media (max-width: 470px) {
    .t182__title {
        font-size: 25px;
    }
    .t698__title {
        font-size: x-large;
    }
    .container_stage {
        width: 100%;
        display: block;
    }
    .stage {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2em;
        border: dotted 0.1em #222;
        padding: 4%;
    }
    .container_info h3 {
        border: dashed 0.2em #222;
        padding: 0.3em;
        background: #eaeaea;
        border-radius: 1em;
    }
    .no_r {
        @media (max-width: 470px)
    }
    .foot_b {
        width: 28%;
        margin: 0 auto;
    }
    .foot_b img {
        width: 80%;
    }
}