<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--metatextblock-->
    <title>РЕМОНТ КВАРТИРЫ ПОЛНОГО ЦИКЛА</title>
    <meta name="description" content="Ремонт квартир в Москве, Мытыщах. Цены на 30% ниже рынка за счет отсутствия посредников и офисных сотрудников. Мы - бригада строителей, все работы мы выполняем собственными руками и вам не нужно переплачивать тем, кто даже не будет принимать участие в ремонте! В бригаде узкопрофильные мастера, без универсалов. Все процессы контролирует прораб. Работы выполняются профессиональным инструментом.">
    <meta name="keywords" content="новостройка под ключ, ремонт +в новостройке под ключ, ремонт +в новостройке цена, ремонт квартир +в люберцах, ремонт квартир +в люберцах под ключ, ремонт квартир +в новостройке под ключ, ремонт квартир ключ, ремонт квартир ключ цены, ремонт квартир под, р">
    <meta property="og:title" content="Ремонт квартир под ключ в Люберцах без посредников" />
    <meta property="og:description" content="Ремонт квартир в Люберцах от 1890 руб/м2. Цены на 30% ниже рынка за счет отсутствия посредников и офисных сотрудников. Мы - бригада строителей, все работы мы выполняем собственными руками и вам не нужно переплачивать тем, кто даже не будет принимать участие в ремонте! В бригаде узкопрофильные мастера, без универсалов. Все процессы контролирует прораб. Работы выполняются профессиональным инструментом.">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- Assets -->
    <link rel="stylesheet" href="static/access/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="static/access/css/media.css" type="text/css" media="all">
</head>

<body>
    <!-- Mobile menu -->
    <div class="mobile_menu">
        <header class="col-12">
            <div class="row">
                <div class="col-8">
                    <h3 style="margin-top: 5%;" class="text-center">Menu</h3>
                </div>
                <div class="col-4">
                    <i id="close_menu" class="far fa-times-circle"></i>
                </div>
            </div>
        </header>
        <hr>
        <ul>
            <a href="#services">
                <li>Услуги</li>
            </a>
            <a href="#team">
                <li>О бригаде</li>
            </a>
            <a href="#works">
                <li>Наши работы</li>
            </a>
            <a href="#comments">
                <li>Отзывы</li>
            </a>
        </ul>
    </div>

    <!-- Header block -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="col-lg-3 col-md-3">
                    <a class="navbar-brand" href="#">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="col-lg-5 col-md-5 left col-3 mt1">
                                        <img class="img-fluid" src="static/access/img/4.png" alt="РЕМОНТ КВАРТИРЫ ПОЛНОГО ЦИКЛА">
                                    </div>
                                    <div id="menu" class="col-lg-5 col-md-5 right col-3 mt1">
                                        <button style="margin: 0 auto;color: #fff;border: solid;display:block;" class="btn"><i class="fas fa-bars"></i></button>
                                    </div>


                                    <div class="col-6 col-md-6 col-12 right mt1">
                                        <p class="logo-text">РЕМОНТ КВАРТИРЫ<br>ПОЛНОГО <span style="color:#ee813a;">ЦИКЛА</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-6 col-md-6 col">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav me-auto menu-desk">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#services">Услуги</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#team">О бригаде</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#works">Наши работы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#comments">Отзывы</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3">
                    <button id='query_tel' type="button" style="border-radius: 0%;" class="btn btn-lend">Заказать звонок</button>
                </div>



            </div>
        </nav>
    </header>
    <div class="global_block">
        <div class="modal-window win1">
            <div class="card container_fluid card-modal">
                <div class="card-head head-window-modal">
                    <div class="right mr1">
                        <i id="query_tel_close" class="far fa-times-circle"></i>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Оставьте свои контакты, прораб перезвонит <i class="fas fa-phone-volume"></i> через 5 минут</h5>
                    <form method="POST">
                        <div class="mb-3">
                            <input type="password" name="call-order" class="form-control" placeholder="ВАШ ТЕЛЕФОН">
                        </div>
                        <button type="submit" class="btn btn-modals">Заказать звонок</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Block content -->
    <main>
        <div class="container_fluid">
            <div class="col-12">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/access/img/prew.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block d-wrapp">
                                <div class="b-center carouseller col-10" style="left: 8%;">
                                    <h1><span style="color:#ee813a;">ЗА 35 ДНЕЙ,</span><br>18 ЧЕЛОВЕК ДЕЛАЮТ <span style="color:#ee813a;">РЕМОНТ</span> ПОЭТАПНО В ОДНОЙ КВАРТИРЕ.</h1>
                                    <br>
                                    <h3>
                                        Проконсультируйтесь, получите инфоромацию о ремонте бесплатно. Расчитайте стоимость ремонта и услуги в целом. Получите предварительную смету. Покажите ваше помещение , здание на камеру онлайн или пригласите на бесплатный замер
                                    </h3>
                                    <div class="mt3"></div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="col-10 mx-auto">
                                                <div class="row">
                                                    <div class="col--lg-4 col-md-6 col-sm-6 col-12 d-grid gap-2 mx-auto">
                                                        <button id='query_tel' class="btn btn-primary btn-carousell" style="background: #ffffff;border-color: #aaafb1;color: #222;" type="button">ПРИГЛАСИТЬ НА ЗАМЕР</button>
                                                    </div>
                                                    <div class="col--lg-4 col-md-6 col-sm-6 col-12 d-grid gap-2 mx-auto">
                                                        <button class="btn btn-primary btn-carousell" style="background: #ee813a;border-color: #ee813a;" type="button">РАСЧИТАТЬ СТОИМОСТЬ</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="static/access/img/prew.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block d-wrapp">
                                <div class="b-center carouseller col-10" style="left: 8%;">
                                    <h1><span style="color:#ee813a;">ЗА 35 ДНЕЙ,</span><br>18 ЧЕЛОВЕК ДЕЛАЮТ <span style="color:#ee813a;">РЕМОНТ</span> ПОЭТАПНО В ОДНОЙ КВАРТИРЕ.</h1>
                                    <br>
                                    <h3>
                                        Проконсультируйтесь, получите инфоромацию о ремонте бесплатно. Расчитайте стоимость ремонта и услуги в целом. Получите предварительную смету. Покажите ваше помещение , здание на камеру онлайн или пригласите на бесплатный замер
                                    </h3>
                                    <div class="mt3"></div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="col-10 mx-auto">
                                                <div class="row">
                                                    <div class="col-4 d-grid gap-2 mx-auto">
                                                        <button id='query_tel' class="btn btn-primary btn-carousell" style="background: #ffffff;border-color: #aaafb1;color: #222;" type="button">ПРИГЛАСИТЬ НА ЗАМЕР</button>
                                                    </div>
                                                    <div class="col-4 d-grid gap-2 mx-auto">
                                                        <button class="btn btn-primary btn-carousell" style="background: #ee813a;border-color: #ee813a;" type="button">РАСЧИТАТЬ СТОИМОСТЬ</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container_fluid mt3 mb3">
            <div class="col-12 mx-auto">
                <div class="container card-prew">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="card" style="box-shadow: 2px 3px 6px 0px rgb(0 0 0 / 25%);padding: 0.5em;">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-4">
                                                <img class="img-fluid" src="https://static.tildacdn.com/lib/tildaicon/65633137-3839-4862-a661-663538623232/Tilda_Icons_32_profession_builder.svg" alt="personals">
                                            </div>
                                            <div class="col-8">
                                                <strong style="margin-top: 1em;display: block;">Восемь бригад, все сепециалисы узкого профиля.</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="card" style="box-shadow: 2px 3px 6px 0px rgb(0 0 0 / 25%);">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-4">
                                                <img class="img-fluid" src="https://static.tildacdn.com/lib/tildaicon/61616166-3663-4665-b436-656435383235/Layer_4.svg" alt="geolocation">
                                            </div>
                                            <div class="col-8">
                                                <strong style="margin-top: 1em;display: block;">Прораб и мастера граждане РФ и русскоговорящие, проживают в Москве и Мытищи.</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="card" style="box-shadow: 2px 3px 6px 0px rgb(0 0 0 / 25%);padding: 0.5em;">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-4">
                                                <img class="img-fluid" src="https://static.tildacdn.com/lib/tildaicon/37363865-3938-4330-a564-343633323434/Tilda_Icons_33_interior_materials.svg" alt="geolocation">
                                            </div>
                                            <div class="col-8">
                                                <strong style="margin-top: 1em;display: block;">Помогаем с закупкой и доставкой строительных материалов.</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container_fluid mt5 mb3 sleep">
            <a id="services" href="#"></a>
            <div class="shadow_block"></div>
            <div class="col-11 mx-auto" style="position: relative;">
                <div class="container">
                    <h2 class="text-center">
                        МЫ КОНСУЛЬТИРУЕМ ПО ВСЕМ ЭТАПАМ РЕМОНТА
                    </h2>
                    <br>
                    <div class="row cv1" style="background: white;">
                        <div class="col-4">
                            <h3>1 ЭТАП</h3>
                            <p><i class="fas fa-check-circle"></i> СТЕНЫ</p>
                            <p><i class="fas fa-check-circle"></i> САНТЕХНИКА</p>
                            <p><i class="fas fa-check-circle"></i> ЭЛЕКТРИКА</p>
                            <p><i class="fas fa-check-circle"></i> ШТУКАТУРКА</p>
                            <p><i class="fas fa-check-circle"></i> ВЕНТИЛЯЦИЯ</p>
                            <p><i class="fas fa-check-circle"></i> ОТКОСЫ</p>
                            <p><i class="fas fa-check-circle"></i> ЗАЛИВКА ПОЛА</p>
                        </div>

                        <div class="col-4">
                            <h3>2 ЭТАП</h3>
                            <p><i class="fas fa-check-circle"></i> ВХОДНАЯ ДВЕРЬ</p>
                            <p><i class="fas fa-check-circle"></i> ПРОСУШКА</p>
                            <p><i class="fas fa-check-circle"></i> ПЛИТКА В ВАННОЙ</p>
                            <p><i class="fas fa-check-circle"></i> ПОТОЛКИ</p>
                            <p><i class="fas fa-check-circle"></i> МЕЖКОМНАТНЫЕ ДВЕРИ</p>
                            <p><i class="fas fa-check-circle"></i> ЛАМИНАТ</p>
                            <p><i class="fas fa-check-circle"></i> ШПАКЛЕВКА, ПОКРАСКА</p>
                            <p><i class="fas fa-check-circle"></i> ОБОИ</p>
                        </div>

                        <div class="col-4">
                            <h3>3 ЭТАП</h3>
                            <p><i class="fas fa-check-circle"></i> УБОРКА</p>
                        </div>
                    </div>
                    <div class="mt5"></div>

                    <h3 class="text-center f-text">
                        Комплексный ремонт 0Т 130000 руб.<br>По договору 1 этап без предоплаты.<br><br>ЗАЯВКА НА НОМЕР
                        <a style="color: #ee813a;" href="tel:+7 906 780 59 52">+7 906 780 59 52</a> <a style="color: #ee813a;" href="tel:+7 903 733-31-49">+7 903 733-31-49</a>
                    </h3>
                </div>
            </div>
        </div>

        <div class="container_fluid mt5 mb3">
            <div class="col-10 mx-auto">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mx-auto mt3">
                            <div class="card shedow">
                                <div class="card-head">
                                    <strong class="text-center" style="margin-top:0.5em; display: block;">Коридор и прихожая от 20 900 ₽</strong>
                                </div>
                                <div class="card-body">
                                    <div class="content-img">
                                        <div class="img-control" style="background: url(static/access/img/work/1.jpg);"></div>
                                    </div>
                                    <p style="text-align: center;padding-top: 0.5em;"><strong>Ремонт коридора и прихожей под ключ</strong> в новостройках, во вторичках. Пол, стены, потолок, электрика, отопление.</p>
                                    <div class="d-grid gap-2 col-12 mx-auto">
                                        <button id="query_tel" style="background: #ee813a;border-color: #ee813a;" class="btn btn-primary" type="button">Заказать консультацию</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mx-auto mt3">
                            <div class="card shedow">
                                <div class="card-head">
                                    <strong class="text-center" style="margin-top:0.5em; display: block;">Коридор и прихожая от 20 900 ₽</strong>
                                </div>
                                <div class="card-body">
                                    <div class="content-img">
                                        <div class="img-control" style="background: url(static/access/img/work/2.jpg);"></div>
                                    </div>
                                    <p style="text-align: center;padding-top: 0.5em;"><strong>Ремонт коридора и прихожей под ключ</strong> в новостройках, во вторичках. Пол, стены, потолок, электрика, отопление.</p>
                                    <div class="d-grid gap-2 col-12 mx-auto">
                                        <button id="query_tel" style="background: #ee813a;border-color: #ee813a;" class="btn btn-primary" type="button">Заказать консультацию</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mx-auto mt3">
                            <div class="card shedow">
                                <div class="card-head">
                                    <strong class="text-center" style="margin-top:0.5em; display: block;">Коридор и прихожая от 20 900 ₽</strong>
                                </div>
                                <div class="card-body">
                                    <div class="content-img">
                                        <div class="img-control" style="background: url(static/access/img/work/3.jpg);"></div>
                                    </div>
                                    <p style="text-align: center;padding-top: 0.5em;"><strong>Ремонт коридора и прихожей под ключ</strong> в новостройках, во вторичках. Пол, стены, потолок, электрика, отопление.</p>
                                    <div class="d-grid gap-2 col-12 mx-auto">
                                        <button id="query_tel" style="background: #ee813a;border-color: #ee813a;" class="btn btn-primary" type="button">Заказать консультацию</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mx-auto mt3">
                            <div class="card shedow">
                                <div class="card-head">
                                    <strong class="text-center" style="margin-top:0.5em; display: block;">Коридор и прихожая от 20 900 ₽</strong>
                                </div>
                                <div class="card-body">
                                    <div class="content-img">
                                        <div class="img-control" style="background: url(static/access/img/work/4.jpg);"></div>
                                    </div>
                                    <p style="text-align: center;padding-top: 0.5em;"><strong>Ремонт коридора и прихожей под ключ</strong> в новостройках, во вторичках. Пол, стены, потолок, электрика, отопление.</p>
                                    <div class="d-grid gap-2 col-12 mx-auto">
                                        <button id="query_tel" style="background: #ee813a;border-color: #ee813a;" class="btn btn-primary" type="button">Заказать консультацию</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mx-auto mt3 ">
                            <div class="card shedow">
                                <div class="card-head">
                                    <strong class="text-center" style="margin-top:0.5em; display: block;">Коридор и прихожая от 20 900 ₽</strong>
                                </div>
                                <div class="card-body">
                                    <div class="content-img">
                                        <div class="img-control" style="background: url(static/access/img/work/6.jpg);"></div>
                                    </div>
                                    <p style="text-align: center;padding-top: 0.5em;"><strong>Ремонт коридора и прихожей под ключ</strong> в новостройках, во вторичках. Пол, стены, потолок, электрика, отопление.</p>
                                    <div class="d-grid gap-2 col-12 mx-auto">
                                        <button id="query_tel" style="background: #ee813a;border-color: #ee813a;" class="btn btn-primary" type="button">Заказать консультацию</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mx-auto mt3">
                            <div class="card shedow">
                                <div class="card-head">
                                    <strong class="text-center" style="margin-top:0.5em; display: block;">Коридор и прихожая от 20 900 ₽</strong>
                                </div>
                                <div class="card-body">
                                    <div class="content-img">
                                        <div class="img-control" style="background: url(static/access/img/work/7.jpg);"></div>
                                    </div>
                                    <p style="text-align: center;padding-top: 0.5em;"><strong>Ремонт коридора и прихожей под ключ</strong> в новостройках, во вторичках. Пол, стены, потолок, электрика, отопление.</p>
                                    <div class="d-grid gap-2 col-12 mx-auto">
                                        <button id="query_tel" style="background: #ee813a;border-color: #ee813a;" class="btn btn-primary" type="button">Заказать консультацию</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="container_fluid mt5 mb3" style="background: #222;color: #fff;padding-top: 8em;padding-bottom: 8em;">
            <a id="team" href="#"></a>
            <div class="col-10 mx-auto">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="avatar" style='background: url("static/access/img/prorab.jpg"); background-repeat: no-repeat; height: 100%;;top: 0;left: 0;right: 0;bottom: 0;'></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <h3>
                                <strong>Согласование ремонта и договор будем подписывать со мной с руководителем</strong>
                            </h3>

                            <div>
                                <strong>Сергеем Андреевичем Паламарчуком.</strong> 15 летний опыт ведения строительства, мастера прораба начальника участка.
                                <br><br>
                                <strong>5 бригад с которыми я работаю срок превышает 2, 5 года. </strong>Практически все бригады учавствуют в ремонте одной квартиры. В ремонте квартиры 12-14 этапов ,принимает участие 28 человек, Более 65 обьектов капитального
                                ремонта у нас на счету.
                                <br><br> На с оцениваю сразу по предложению: цена, качество, время выполнения ремонта .Цена материалов ниже потому ,что мы берем по договоренностям с поставщиками по оптовым ценам ,с возвратом остатков материалов. Это легко
                                сравнить с другими продавцами материалов. На работу мы можем тоже сделать скидку как говорится хорошим людям , в замен на рекомендации нас вашим друзьям.
                            </div>
                            <div class="mt3"></div>
                            <div class="d-grid gap-2 col-12 mx-auto">
                                <button id="query_tel" style="padding:1.2em;background: #ee813a;border-color: #ee813a;" class="btn btn-primary" type="button">Заказать консультацию</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container_fluid mt5 mb3">
            <div class="col-10 mx-auto">
                <div class="row">
                    <h2 class="text-center">
                        <strong>Наши предложения по договору и условия выполнения договора</strong>
                    </h2>
                    <div class="mt5"></div>
                    <div class="col-10 mx-auto">
                        <div class="row">
                            <h3><i class="far fa-check-circle"></i> Составляем и утверждаем смету.</h3>
                            <p style="left: 2.7em;position: relative;">Смета по вашему желанию может развернута по каждой позиции или простая без росписи по подпунктам</p>
                            <div class="mt1"></div>
                            <h3><i class="far fa-check-circle"></i> Договор.</h3>
                            <p style="left: 2.7em;position: relative;">В договоре начало работ окончание. Цена в приложении Смета.</p>
                            <div class="mt3"></div>
                            <h4>
                                <strong>Когда квартира от застройщика принимаем квартиру по акту передачи от застройщика.</strong><br><br>
                                <strong>Отчеты по времени выполнения работ : к примеру понедельник и пятница.</strong><br><br>
                                <strong>
                                    Контроль качества фиксируетя на фото и по каждому действию на этапе ремонта. Например монтаж стены. Смотрим перевязка камня в ряду, монтаж первого ряда, примыкание к соседним стенам при помощи арматур, метал. уголков, при помощи шурупов с дюбелями. После приема стены можно приступать к другому действию электрика и штукатурка.
                                </strong><br><br>
                                <strong>
                                    Мы выполняем работы в строго оговоренные сроки и указываем штрафные санкции в договоре! Как только мы оценим обьем работы определим сроки. Приступим к работе Напоминаю простой ремонт занимает 30 - 40 дней.
                                </strong><br><br>
                                <strong>Контактное лицо по любым вопросам это прораб. 24 часа и 7 дней в неделю.</strong><br><br>
                                <strong>
                                    Остатки материалов выкупим или вернем поставщикам. Материал всегда закупается с запасом и часто остается. Большинство строителей оставляют его заказчику, которому сложно его сдать назад, потому что строители оплачивают нередко банковской картой.
                                </strong><br><br>
                                <strong>Если вы испытываете какой то недоверие в начале работы мы можем начать выполнять ремонт и сдавать вам поэтапно и принимать расчет поэтапно.</strong>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container_fluid mt5 mb3 portfolio">
            <a id="works" href="#"></a>
            <div class="col-10 mx-auto">
                <h1 class="text-center">ФОТОГРРАФИИ РЕМОНТА КВАРТИР</h1>
                <br>
                <div class="row">
                    <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner bo-fonn">
                            <div class="carousel-item active">
                                <div class="col-12">
                                    <div class="row">

                                        <div class="col-lg-4">
                                            <img src="static/access/img/work/gallery/1.jpg" class="img-fluid d-block w-100" style="height: 427px;" alt="...">
                                            <!-- <div class="carousel-caption d-none d-md-block"> -->
                                            <p class="text-center">Ремонт кухни</p>
                                            <!-- </div> -->
                                        </div>
                                        <div class="col-lg-4">
                                            <img src="static/access/img/work/gallery/2.jpg" class="img-fluid d-block w-100" style="height: 427px;" alt="...">
                                            <!-- <div class="carousel-caption d-none d-md-block"> -->
                                            <p class="text-center">Ремонт кухни</p>
                                            <!-- </div> -->
                                        </div>
                                        <div class="col-lg-4">
                                            <img src="static/access/img/work/gallery/3.jpg" class="img-fluid d-block w-100" style="height: 427px;" alt="...">
                                            <!-- <div class="carousel-caption d-none d-md-block"> -->
                                            <p class="text-center">Ремонт кухни</p>
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-12">
                                    <div class="row">

                                        <div class="col-lg-4">
                                            <img src="static/access/img/work/gallery/4.jpg" class="img-fluid d-block w-100" style="height: 427px;" alt="...">
                                            <!-- <div class="carousel-caption d-none d-md-block"> -->
                                            <p class="text-center">Ремонт кухни</p>
                                            <!-- </div> -->
                                        </div>
                                        <div class="col-lg-4">
                                            <img src="static/access/img/work/gallery/5.jpg" class="img-fluid d-block w-100" style="height: 427px;" alt="...">
                                            <!-- <div class="carousel-caption d-none d-md-block"> -->
                                            <p class="text-center">Ремонт кухни</p>
                                            <!-- </div> -->
                                        </div>
                                        <div class="col-lg-4">
                                            <img src="static/access/img/work/gallery/6.jpg" class="img-fluid d-block w-100" style="height: 427px;" alt="...">
                                            <!-- <div class="carousel-caption d-none d-md-block"> -->
                                            <p class="text-center">Ремонт кухни</p>
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-12">
                                    <div class="row">

                                        <div class="col-lg-4">
                                            <img src="static/access/img/work/gallery/7.jpg" class="img-fluid d-block w-100" style="height: 427px;" alt="...">
                                            <!-- <div class="carousel-caption d-none d-md-block"> -->
                                            <p class="text-center">Ремонт кухни</p>
                                            <!-- </div> -->
                                        </div>
                                        <div class="col-lg-4">
                                            <img src="static/access/img/work/gallery/8.jpg" class="img-fluid d-block w-100" style="height: 427px;" alt="...">
                                            <!-- <div class="carousel-caption d-none d-md-block"> -->
                                            <p class="text-center">Ремонт кухни</p>
                                            <!-- </div> -->
                                        </div>
                                        <div class="col-lg-4">
                                            <img src="static/access/img/work/gallery/9.jpg" class="img-fluid d-block w-100" style="height: 427px;" alt="...">
                                            <!-- <div class="carousel-caption d-none d-md-block"> -->
                                            <p class="text-center">Ремонт кухни</p>
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-12">
                                    <div class="row">

                                        <div class="col-lg-4">
                                            <img src="static/access/img/work/gallery/10.jpg" class="img-fluid d-block w-100" style="height: 427px;" alt="...">
                                            <!-- <div class="carousel-caption d-none d-md-block"> -->
                                            <p>Ремонт кухни</p>
                                            <!-- </div> -->
                                        </div>
                                        <div class="col-lg-4">
                                            <img src="static/access/img/work/gallery/11.jpg" class="img-fluid d-block w-100" style="height: 427px;" alt="...">
                                            <!-- <div class="carousel-caption d-none d-md-block"> -->
                                            <p>Ремонт кухни</p>
                                            <!-- </div> -->
                                        </div>
                                        <div class="col-lg-4">
                                            <img src="static/access/img/work/gallery/12.jpg" class="img-fluid d-block w-100" style="height: 427px;" alt="...">
                                            <!-- <div class="carousel-caption d-none d-md-block"> -->
                                            <p>Ремонт кухни</p>
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <a class="carousel-control-prev link_carousel" href="#carouselExampleCaptions2" role="button" data-bs-slide="prev" style="opacity: 0.15;left:1%;">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next link_carousel" href="#carouselExampleCaptions2" role="button" data-bs-slide="next" style="opacity: 0.15;right:1%;">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container_fluid mt5 mb3">
            <a id="comments" href="#"></a>
            <div class="col-10 mx-auto">
                <h1 class="text-center">ОТЗЫВЫ О НАС О НАШЕМ СПОСОБЕ РЕМОНТА</h1>
                <br>
                <div class="row">
                    <div class="col-4">
                        <img src="https://thumb.tildacdn.com/tild3630-6432-4266-a666-363265653232/-/format/webp/IMG_4561.png" class="img-fluid" alt="item-1">
                    </div>
                    <div class="col-4">
                        <img src="https://thumb.tildacdn.com/tild3031-3535-4535-b532-626361356331/-/format/webp/IMG_4562.png" class="img-fluid" alt="item-2">
                    </div>
                    <div class="col-4">
                        <img src="https://thumb.tildacdn.com/tild3064-3835-4439-b664-613963316338/-/format/webp/IMG_4563.png" class="img-fluid" alt="item-3">
                    </div>
                </div>
            </div>
        </div>

        <div class="container_fluid mt5 mb3 sleep">
            <div class="shadow_block"></div>
            <div class="col-lg-8 col-md-8 col-sm-10 col-11 mx-auto" style="position: relative;">
                <div class="container">
                    <h2 class="text-center mt1">
                        <strong style="font-size: 1.01em;">СДЕЛАЙТЕ ЗВОНОК , ОСТАВТЕ ЭЛЕКТРОННУЮ ПОЧТУ , НОМЕР ТЕЛЕФОНА, ИЛИ ПРЕДВАРИТЕЛЬНО ВИДЕО В ПРЯМОМ ЭФИРЕ, И В КОНЦЕ ДЛЯ УТОЧНЕНИЯ ДАННЫХ ПРИГЛАСИТЕ НАШЕГО ЗАМЕРЩИКА ИЛИ ПРОРАБА НА ЗАМЕР <span style="color:#ee813a; ">ПОЛУЧИТЬТОЧНУЮ СМЕТУ И ТОЧНЫЕ СРОКИ.</span></strong>
                    </h2>
                    <br>
                    <div class="col-12 mx-auto">
                        <form method="POST">
                            <div class="mb-3 col-12">
                                <input style="padding: 1em;font-size: 1.2em;" type="tel" name="call-order" class="form-control" placeholder="ВАШ ТЕЛЕФОН ">
                            </div>
                            <div class="d-grid gap-2 col-12">
                                <button style="padding: 1.1em;" type="submit" class="btn btn-md btn-lend "><strong>ПРИГЛАСИТЬ НА ЗАМЕР</strong></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container_fluid mt5 mb3">
            <div class="col-lg-8 col-md-8 col-sm-10 col-11 mx-auto" style="position: relative;">
                <div class="container">
                    <h2 class="text-center mt1">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h2>
                    <br><br>
                    <div class="accordion accordion-flush" id="accordionFlushExample">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-1">
                                <button class="accordion-button collapsed shadow" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                СКОЛЬКО ВРЕМЕНИ НУЖНО ЧТОБЫ СДЕЛАТЬ РЕМОНТ В СТУДИИ С НУЛЯ?
                            </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-1" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    23 ДНЯ ДОСТАТОЧНО
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-2">
                                <button class="accordion-button collapsed shadow" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                У ВАС РЕМОНТ 30-40 ДНЕЙ ЭТО НА КАКИЕ КВАРТИРЫ, С КАКОЙ ПЛОЩАДЬЮ?
                            </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-2" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    ДО 80 КВАДРАТОВ, СВЫШЕ ПРОСТО НУЖНО РАБОЧИХ ДОБАВИТЬ, БУДЕТ НА 5 ДНЕЙ БОЛЬШЕ.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-3">
                                <button class="accordion-button collapsed shadow" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                МОЖНО ЛИ ПОСЧИТАТЬ СТОИМОСТЬ РЕМОНТА ПО ТЕЛЕФОНУ?
                            </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-3" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    МОЖНО ПОСЧИТАТЬ С БТИ плана или на замере более точные данные.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-4">
                                <button style="text-align: left;" class="accordion-button collapsed shadow" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                    ОБЬЕСНИТЕ КАК ЭТО МОЖНО СДЕЛАТЬ РЕМОНТ В 2 КОМНАТНОЙ КВАРТИРЕ 62 КВАДРАТА ЗА 30 ДНЕЙ?
                            </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-4" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    ДЕЛО В ТОМ ЧТО МЫ ВЫРОБОТАЛИ ТАКУЮ ПОСЛЕДОВОТЕЛЬНОСТЬ ДЕЙСТВИЙ ГДЕ ЗАДЕЙСТВОВАНО МНОГО ЧЕЛОВЕКО ЧАСОВ на каждом этапе ОДНОВРЕМЕННО по несколько бригад. Просто говоря ремот делаю 5 бригад 20 ЧЕЛОВЕК в своем узком профиле маляры, сантехники, электрики,
                                    потолочники, заливка пола установка дверей, плиточники и т.д.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-5">
                                <button class="accordion-button collapsed shadow" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                    ЗНАЮТ ЛИ ВАШИ РАБОЧИЕ ПРО РЕЖИМ ТИШИНЫ ВО ВРЕМЯ РЕМОНТА?
                            </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-5" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Правильное перераспределения работ не будет мешать жельцам проживать во время ремонта .И блиские соседи снизу и на этаже будут поставлены в известность, что ремонт не надолго только нужно потерпеть.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-6">
                                <button class="accordion-button collapsed shadow" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                    ВЫ КОМПАНИЯ ПОСРЕДНИКИ ИЛИ КАК ПРАВИЛЬНО ПОНИМАТЬ ВАШУ ДЕЯТЕЛЬНОСТЬ?
                            </button>
                            </h2>
                            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-6" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    МЫ НЕ ПОСРЕДНИКИ, МЫ КОМПАНИЯ В НУТРИ КОТОРОЙ 5 БРИГАД И МЫ (ПРОРАБ,МЕНЕДЖЕР, БУХГАЛТЕР ПО УЧЕТУ МАТЕРИАЛОВ ,ДИСПЕЧЕР И РУКОВОДИТЕЛЬ) ПРИНИМАЕМ НЕПОСРЕДСВЕННОЕ УЧАСТИЕ В РЕМОНТЕ КВАРТИРЫ. И НАШИМ ЦЕННЫМ КОНЕЧНЫМ ПРОДУКТОМ ЯВЛЯЕТСЯ РЕМОНТ КВАРТИРЫ СДЕЛАНЫЙ
                                    В СРОК ДОСТАТОЧНО ХОРОШО И КАЧЕСТВЕННО ИЗ КАЧЕСТВЕННЫХ МАТЕРИАЛОВ И ПО РЫНОЧНОЙ ЦЕНЕ БЕЗ ЛИШНИХ НАКРУТОК.
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="container_fluid mt5 sleep" style='padding-top:5.1em;padding-bottom:5em;color: #fff; background-image: url("https://thumb.tildacdn.com/tild3036-6435-4138-b436-656166343832/-/format/webp/dizajn-gostinoj-v-so.jpg");'>
            <div class="shadow_block" style="background: #00000061;"></div>
            <div class="col-lg-8 col-md-8 col-sm-10 col-11  mx-auto" style="position: relative;">
                <div class="container">
                    <h2 class="text-center mt1">
                        <strong style="font-size: 1.01em;">Может у вас есть предложение или вопрос о том ,как можно сделать ремонт с более улучшеной планировкой или дизайном или подбором других митериалов и т.д оставте свой номер телефона и в течении 2 минут вы получите обратный звонок</strong>
                    </h2>
                    <div class="mt5"></div>
                    <div class="col-lg-8 col-md-8 col-sm-10 col-11 mx-auto">
                        <form method="POST">
                            <div class="mb-3 col-12">
                                <input style="padding: 1em;font-size: 1.2em;" type="tel" name="call-order" class="form-control" placeholder="ВАШ ТЕЛЕФОН ">
                            </div>
                            <div class="d-grid gap-2 col-12">
                                <button style="padding: 1.1em; color: #fff;" type="submit" class="btn btn-md btn-lend "><strong>ПРИГЛАСИТЬ НА ЗАМЕР</strong></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container_fluid mb3" style="background-color: #222; color:#fff; padding:2em;">
            <div class="col-10 mx-auto">

                <div class="row">
                    <div class="mt3"></div>
                    <div>
                        <!-- <span style="color: rgb(255, 214, 0);"></span> -->
                        <h2>Здравствуете, мы рады приветствовать Вас на нашем официальном сайте!</h2>
                        <br>
                        <p><strong>Строительная компания «снТ5 РЕШЕНИЙ В НЕДВИЖИМОСТИ» - один из профиссионалов  московского строительного рынка. Строительство и ремонт – это <span style="color: #ee813a;">ежедневная деятельность нашей профессиональной команды</span> на территории Москвы и московской области.</strong></p>
                        <br>
                        <p>
                            Команда «Строительство недвижимости Т5 + решений в недвижимости» когда то сама была заказчиком услуги по ремонту квартир.То есть «.Т5+ РвН» агенство недвижимости ,оказание услуг продажи квартир. Были клиенты которым нужно квартира с конкретными критериями
                            а именно, район ,планировка, ремонт и сроки сдачи после ремонта, потому что сделки альтернативные, с опекой,с переездом с других регионов. Обращались к строителям. Их стало тяжело контролировать сдачи обьектов в срок. После
                            этого решили сами делать ремонты. Наши обькты ЖК Скандинавский, ЖК Мытищи лайт, ЖК Императорские Мытищи,ЖК КВАРТАЛ 29, ЖК БРАВО, ЖК ПИРОГОВСКАЯ РИВЬЕРА жк лидер парк, Но заказчик предъявляет высокие требования касательно качества,
                            предоставляемого сервиса, подлинности используемого материала, современности применяемых технологий и оборудования.более 60 квартир, было сделано.
                        </p>
                        <br>
                        <h3>Мы предлагаем своему заказчику:</h3>
                        <ul>
                            <li>
                                <strong>Комплекс строительно ремонтных работ:</strong> ремонт квартир, офисов, домов, подбор комплектацию объектов черновыми материалами, чистовыми материалами.
                            </li>
                            <li>
                                <strong>Монтаж инженерных сетей:</strong> лектромонтажные работы, сантехнические работы, монтаж вентиляции и кондиционирования предоставляем гарантия на выполненные работы от 1 года. послегарантийное обслуживание 24 часа
                                в сутки по необходимости проектирование инженерных сетей, дизайн интерьера при комплексном заказе скидки
                            </li>
                        </ul>
                        <br>
                        <p>
                            Компания «снТ5» - владеет навыками профессиональной организации строительного процесса и грамотным руководством ведения объектов. Цена за предоставляемый нами сервис рыночная, много положительных отзывов, предоставляем компетентную, обоснованную консультацию.
                            Наши специалист укомплектованы профессиональным инструментом!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container_fluid mt5">
            <div class="col-8 mx-auto" style="position: relative;">
                <div class="row">
                    <div>
                        <h2><strong>Связаться с нашим менеджером можно любым, удобным для Вас способом:</strong></h2>

                        <div style="width: 60%; margin: 0 auto; margin-top:2em;">
                            <h2><strong style="float: left; text-decoration: underline;">+79067805952</strong> <strong style="float: right; text-decoration: underline;">t5psa@mail.ru</strong></h2>
                        </div>
                        <br>
                        <div style="margin-top: 6em;">
                            <h3>Давайте встретимся и обговорим ваш Заказ!<br>Главная цель нашей деятельности СДЕЛАТЬ ТАК ЧТОБЫ ваши желания совпали с вашими восможностями!</h3>
                            <div class="mt3"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="container_fluid mb3" style="background-color: #222; color:#fff; padding:1.2em;width: 100%;position: absolute;">
        <div class="col-10 mx-auto">
            <div class="row mx-auto">
                <div class="col-lg-8 col-md-8 col-sm-10 col-12 mx-auto">
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid" src="static/access/img/4.png" alt="РЕМОНТ КВАРТИРЫ ПОЛНОГО ЦИКЛА">
                        </div>
                        <div class="col-8">
                            <p style="margin-top: 3%;">РЕМОНТ КВАРТИРЫ ПОЛНОГО ЦИКЛА</p>
                        </div>
                    </div>
                </div>
            </div>
    </footer>

    <script src="https://kit.fontawesome.com/8b9970d558.js " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js " integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js " integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj " crossorigin="anonymous "></script>
    <script src="static/access/js/modals.js "></script>
</body>

</html>